table, th, td{
    border: 1px solid black;
}

table {
    width: 100%;
    border-collapse: collapse;
  }

  th {
    height: 30px;
    text-align: center;
    background-color: #04AA6D;
    color: white;
  }

  td {
    height: 20px;
    vertical-align: bottom;
    text-align: left;
  }  

  th, td {
    padding: 15px;
    border-bottom: 1px solid black;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
